/*PSEUDOSELECTORES*/

h1:hover {
    font-size: 500%;
    transition: 
        font-size 0.6s;
}

.empezarJuego:hover {
    background-color: #eb937d;
    border: solid 1px #eb937d;
    transition:
        background-color 0.7s;
}

.empezarJuego:hover {
    font-weight: bold;
    color: #8f3926;
    transition:
        color 0.5s;
}

input:focus {
    font-weight: bold;
}

input::placeholder {
    color: #232C50;
}


/*GENERAL*/

* {
    margin: 0;
}

body {
    background-image: url(./../img/fondoVelocimetro.jpg);
}

h1 {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    text-align: center;
    font-size: 340%;
    color: #999;
    margin: 14%;
}

h4 {
    color: rgb(206, 190, 190);
    margin: 14% 16% 14% 16%;
    text-align: center;
}

input {
    font-family: 'Vollkorn';
}


/*HEADER*/

span#tipoChoque {
    color: rgb(53, 203, 230);
    font-weight: bold;
}


/*MAIN*/

/*formulario e imagen auto*/

main section#imagenyFormulario {
    padding-top: 2%;
    background-image: url(./../img/fondoCarretera.jpeg);
    background-repeat: repeat;
}

form {
    text-align: end;
    margin-right: 10%;
}

img.auto {
    width: 70%;
    margin: -8% 5% 1.5% 14%;
}

.empezarJuego {
    border-radius: 50px;
    background-color: rgb(211, 37, 37);
    margin-left: 2%;
    font-family: 'Courgette', cursive;
    color: rgb(31, 29, 29);
    text-decoration: none;
    font-weight: bold;
}

/*FOOTER*/

footer {
    color: rgb(153, 147, 138);
    text-align: start;
    font-size: 50%;
    position: fixed;
    bottom: 0;
}




/*DESKTOPVERSION*/

@media screen and (min-width: 500px) {

    /*GENERAL*/

    body {
        background-image: url(./../img/fondoVelocimetroEscritorio.jpg);
    }

    h1 {
        font-size: 400%;
        margin: 5% 0 0 0;
    }
    
    h4 {
        margin: 2% 0 5% 0;
    }

    input {
        font-size: 115%;
        border-radius: 50px;
        padding: 20px;
    }
    
    button {
        padding: 20px 30px 20px 30px;
    }

    a {
        font-size: 150%;
    }

    /*MAIN*/

    /*formulario e imagen auto*/

    img.auto {
        width: 40%;
        margin: -5% 5% 0 30%;
    }


    /*FOOTER*/

    footer {
        color: rgb(226, 223, 219);
        font-size: 80%;
    }
}