button:hover {
    background-color: #5e6ace;
    border: solid 1px #5e6ace;
    transition:
        background-color 0.7s;
}

a:hover {
    font-weight: bold;
    color: #0a0942;
    transition:
        color 0.5s;
}

* {
    margin: 0;
}

h1 {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    text-align: center;
    font-size: 340%;
    color: #999;
    margin: 16% 0 10% 0;
}

body {
    background-image: url(./../img/fondoVelocimetroJuegoCelular.jpg.jpeg);
    background-size: 120%;
    background-repeat: no-repeat;
}

div#canvas {
    margin-top: 20%;
}

#myCanvasCalle {
    width: 100%;
    height: 80px;
    background: #696969;
}

#myCanvasCalleMedio {
    width: 100%;
    height: 15px;
    background: #FFD700;
}

main div.botonesChoques {
    text-align: center;
    margin-top: 5%;
}

button {
    border-radius: 50px;
    background-color: rgb(23, 23, 201);
    padding: 8px 13px 8px 13px;
}

button a {
    font-family: 'Courgette', cursive;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}

footer {
    color: rgb(245, 237, 237);
    text-align: start;
    font-size: 50%;
    position: fixed;
    bottom: 0;
}


@media screen and (min-width: 500px) {

    body {
        background-image: url(./../img/fondoVelocimetroJuego.jpg);
    }

    h1 {
        margin: 4%;
    }

    div#canvas {
        margin-top: 4%;
    }

    #myCanvasCalle {
        width: 100%;
        height: 160px;
    }
    
    #myCanvasCalleMedio {
        width: 100%;
        height: 30px;
    }

    button {
        margin: 0 10% 0 10%;
    }

    button a {
        font-size: 20px;
    }

    footer {
        color: rgb(59, 54, 54);
        font-size: 80%;
    }
}