/*PSEUDOSELECTORES*/

main section#botones div.botonesChoques button:hover {
    background-color: #5e6ace;
    border: solid 1px #5e6ace;
    transition:
        background-color 0.7s;
}

main section#botones div.botonesChoques button a:hover {
    font-weight: bold;
    color: #0a0942;
    transition:
        color 0.5s;
}

main section#botones div.botonPaginaPrincipal button:hover {
    background-color: #eb937d;
    border: solid 1px #eb937d;
    transition:
        background-color 0.7s;
}

main section#botones div.botonPaginaPrincipal button a:hover {
    font-weight: bold;
    color: #8f3926;
    transition:
        color 0.5s;
}


/*GENERAL*/

* {
    margin: 0;
}

h1 {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    text-align: center;
    font-size: 340%;
    color: #999;
    margin: 16% 0 10% 0;
}

body {
    background-image: url(./../img/fondoVelocimetroJuegoCelular.jpg.jpeg);
    background-size: 120%;
    background-repeat: repeat;
}

button a {
    font-family: 'Courgette', cursive;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}


/*MAIN*/

main {
    text-align: center;
}

div#juego{
    display: flex;
    align-items: center;
}

#auto{
    background-size: 250px 130px;
    height: 40%;
    width: 30%;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    position: absolute;
 }

.contenedor {
    width: 100%;
    height: 360px;
    position: relative;
    background: #696969;
    transition: background-color 1s linear;
    overflow: hidden;
}

.calleLimite {
    width: 100%;
    height: 15px;
    background: #bbb8a8;
    position: absolute;
    bottom: 50%;
    right: 0px;
}

.auto {
    width: 40%;
    height: 38%;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background: url(./../img/auto.png) no-repeat;
    background-size: 250px 130px;
    background-position-x: 0px;
}
/*
.obstaculo {
    width: 46px;
    height: 96px;
    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;
    background: url(./../img/bola.png) no-repeat;
}*/

/*botones para ir a los tipos de choques o volver a la pagina principal*/

main section#botones div.botonesChoques {
    text-align: center;
    margin-top: 5%;
}

main section#botones div.botonPaginaPrincipal {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

main section#botones div.botonPaginaPrincipal button {
    border-radius: 50px;
    background-color: rgb(168, 17, 17);
    padding: 8px 13px 8px 13px;
}

main section#botones div.botonesChoques button {
    border-radius: 50px;
    background-color: rgb(23, 23, 201);
    padding: 8px 13px 8px 13px;
}


/*FOOTER*/

footer {
    color: rgb(245, 237, 237);
    text-align: start;
    font-size: 50%;
    position: fixed;
    bottom: 0;
}





/*DESKTOPVERSION*/

@media screen and (min-width: 500px) {

    /*GENERAL*/

    body {
        background-image: url(./../img/fondoVelocimetroJuego.jpg);
    }

    h1 {
        margin: 4%;
    }

    button {
        margin: 0 10% 0 10%;
    }

    button a {
        font-size: 20px;
    }


    /*MAIN*/

    /*canvas*/
    
    div#canvas {
        margin-top: 4%;
    }

    #myCanvasCalle {
        width: 100%;
        height: 160px;
    }
    
    #myCanvasCalleMedio {
        width: 100%;
        height: 30px;
    }


    /*FOOTER*/

    footer {
        color: rgb(59, 54, 54);
        font-size: 80%;
    }
}