/*PSEUDOSELECTORES*/

h1:hover {
    font-size: 500%;
    transition: 
        font-size 0.6s;
}

h2:hover, h4:hover {
    font-size: 300%;
    transition: 
        font-size 0.6s;
}

button:hover {
    background-color: #5e6ace;
    border: solid 1px #5e6ace;
    transition:
        background-color 0.7s;
}

a:hover {
    font-weight: bold;
    color: #0a0942;
    transition:
        color 0.5s;
}

p.formula:hover {
    font-size: 220%;
    color: #0a0942;
    transition: 
        font-size 0.6s;
        color: 0.8s;
}


/*GENERAL*/

* {
    margin: 0;
}

body {
    background-image: url(./../img/fondoAutos.jpg);
    background-repeat: repeat;
}

header {
    text-align: center;
}

main {
    margin: 2% 1.5% 0 1.5%;
}

h1 {
    font-family: 'Luckiest Guy', cursive, sans-serif;
    font-size: 340%;
    color: #999;
    margin: 8%;
}

button {
    border-radius: 50px;
    background-color: rgb(23, 23, 201);
    padding: 8px 13px 8px 13px;
}

button a {
    font-family: 'Courgette', cursive;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}

ul li {
    list-style-type: disc;
}


/*HEADER*/

img.choque {
    width: 70%;  
}


/*MAIN*/

main section {
    margin: 0 0 4% 0;
    text-align: justify;
}

/*botones para volver a jugar o ir a la explicacion del choque*/

section.botones {
    text-align: center;
}

main section.botones button {
    margin: 0 0 0 2%;
}

/*explicaciones sobre los choques*/

main h2, main h4 {
    font-size: 240%;
}

main p, main ul li {
    font-size: 110%;
}

main h2, main h4, main p, main ul li {
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    margin: 3% 0 3% 0;
}

h2, h4, p.formula {
    text-align: center;
}

p.formula {
    font-size: 130%;
    font-weight: bold;
}

span#choque {
    color: #0e0c58;
    font-weight: bold;
}

/*explicacion energia cinetica*/

main p a.energiaCinetica {
    font-weight: bold;
    color: rgb(23, 23, 201);
    text-decoration: underline;
}

/*video del auto andando*/

div.energiaCinetica div.video {
    text-align: center;
}

div.energiaCinetica div.video video {
    width: 60%;
    margin-bottom: 5%;
}

/*boton para volver al juego*/

div.botonSeguirJugando {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}


/*FOOTER*/

footer {
    color: rgb(59, 54, 54);
    text-align: start;
    font-size: 50%;
    position: fixed;
    bottom: 0;
}




/*DESKTOPVERSION*/

@media screen and (min-width: 500px) {

    /*GENERAL*/

    h1 {
        font-size: 400%;
        margin: 2% 0 2% 0;
    }

    button a {
        font-size: 20px;
    }

    p, h2, h4 {
        margin: 0 0 3% 0;
    }


    /*HEADER*/

    img.choque {
        width: 40%; 
        margin: 0 0 0 0;
    }


    /*MAIN*/

    /*botones para volver a jugar o ir a la explicacion del choque*/

    section.botones {
        text-align: start;
    }

    main section.botones button {
        margin: 0 0 0 21%;
    }

    /*explicaciones sobre los choques*/

    h2, h3, p.formula {
        font-weight: bold;
        text-align: center;
    }

    p.formula {
        font-size: 170%;
    }

    /*video del auto andando*/

    section.energiaCinetica video {
        width: 60%;
    }


    /*FOOTER*/

    footer {
        font-size: 80%;
    }

}